<!DOCTYPE HTML>

<html>

<head>
	<title>Wander</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />

	<noscript>
		<link rel="stylesheet" href="/css/noscript.css" />
	</noscript>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body class="landing is-preload">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1>
				<a href="/../">Wander</a>
			</h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle">
							<span>Menu</span>
						</a>
						<div id="menu">
							<ul>
								<li>
									<a href="/../">Home</a>
								</li>
								<li>
									<a href="/../packages">Packages</a>
								</li>
								<li>
									<a href="/../booking">Booking</a>
								</li>

								<li>
									<a href="/../login">Log In</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>Wander</h2>
				<p>Not all those who wander are lost.
					<br /> -J.R.R. Tolkien</p>

			</div>
			<a href="#one" class="more scrolly">Learn More</a>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>Welcome to Wander, your one stop shop for all things travel.</h2>
					<p>Wander provides an all access pass to traveling the world
						<br /> with out the pressure of planning anything.</p>
				</header>
				<ul class="icons major">
					<li>
						<span class="icon fas fa-suitcase major style1">
							<span class="label">Lorem</span>
						</span>
					</li>

				</ul>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper alt style2">
			<section class="spotlight">
				<div class="image">
					<img src="/images/pic01.jpg" alt="" />
				</div>
				<div class="content">
					<h2>Japan</h2>
					<br />
					<p>Japan is one of the most sought out destinations in the world. With spectacular food, incredible architecture and friendly
						people. It’s no wonder people have called Japan intoxicating.</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image">
					<img src="/images/pic02.jpg" alt="" />
				</div>
				<div class="content">
					<h2>Bali</h2>
					<br />
					<p>Gorgeous sun sets, scenic beaches, and fresh food. Bali is an ideal please to truly get away. Bali provides ecofriendly
						hotels, ancient ruins and a bohemian vibe. It’s no wonder people have described that Bali is always a good idea. </p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image">
					<img src="/images/pic03.jpg" alt="" />
				</div>
				<div class="content">
					<h2>Italy</h2>
					<br />
					<p>Italy provides a view of not just a country but a way of life. With sunflowers roaming the hills, incredible art, food
						and poetry. Italy was a melting pot culture that ignited the Renaissance. As Giuseppe Verdi once said, “You may have
						the universe if I may have Italy.” </p>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major">
					<h2>What people are saying about wander.</h2>
					<p>Wander made traveling a breeze. All I had to do was put in the dates and pick a destination.
						<br /> They booked transportation, hotels and great tours. Within my budget, the hardest
						<br /> part was picking the destination. I plan on using Wander for years to come. -Derek
						<br />
					</p>
				</header>
				<ul class="features">
					<li class="icon fa-laptop">
						<h3>Step One</h3>
						<p>Pick a package, we have three packages. Thrifty, Comfort, and Lux. By picking a package we create an incredible experience
							with in your means.</p>
					</li>
					<li class="icon fa-calendar-alt">
						<h3>Step Two</h3>
						<p>Pick your date. Once you decide on a date, destinations will appear that will fit your package and budget.</p>
					</li>
					<li class="icon fa-globe">
						<h3>Step Three</h3>
						<p>Pick a destination and click submit. We will get back you on details, itinerary and price for your dream vaction. We
							take all the stress from planning.</p>
					</li>
					<li class="icon fa-plane">
						<h3>Step Four</h3>
						<p>Leave on an this incredible trip.</p>
				</ul>
			</div>
		</section>

		<!-- CTA -->
		<section id="cta" class="wrapper style4">
			<div class="inner">
				<header>
					<h2>Come Wander with us.</h2>

				</header>
				<ul class="actions stacked">

					<li>
						<a href="/packages" class="button fit">View Packages</a>
					</li>
				</ul>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li>
					<a href="#" class="icon fa-twitter">
						<span class="label">Twitter</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-facebook">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-dribbble">
						<span class="label">Dribbble</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-envelope-o">
						<span class="label">Email</span>
					</a>
				</li>
			</ul>
			<ul class="copyright">
				<li>&copy; Wander</li>
				<li>Travel</li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/js.1/jquery.min.js"></script>
	<script src="/js.1/jquery.scrollex.min.js"></script>
	<script src="/js.1/jquery.scrolly.min.js"></script>
	<script src="/js.1/browser.min.js"></script>
	<script src="/js.1/breakpoints.min.js"></script>
	<script src="/js.1/util.js"></script>
	<script src="/js.1/main.js"></script>

</body>

</html>