<!DOCTYPE HTML>
<html>

<head>
	{{!-- Populating Title using handlebars --}}
	<title>{{this.title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/zomatomain.css">
    <link rel="stylesheet" href="/css/all.css">
	<link href="/bower_components/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

	<noscript>
		<link rel="stylesheet" href="/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1>
				<a href="/../">Wander</a>
			</h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle">
							<span>Menu</span>
						</a>
						<div id="menu">
							<ul>
								<li>
									<a href="/../">Home</a>
								</li>
								<li>
									<a href="/../packages">Packages</a>
								</li>
								<li>
									<a href="/../booking">Booking</a>
								</li>

								<li>
									<a href="#">Log In</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		{{{body}}}

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li>
					<a href="#" class="icon fa-twitter">
						<span class="label">Twitter</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-facebook">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-dribbble">
						<span class="label">Dribbble</span>
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-envelope-o">
						<span class="label">Email</span>
					</a>
				</li>
			</ul>
			<ul class="copyright">
				<li>&copy; Wander</li>
				<li>Travel</li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/js.1/jquery.min.js"></script>
	<script src="/js.1/jquery.scrollex.min.js"></script>
	<script src="/js.1/jquery.scrolly.min.js"></script>
	<script src="/js.1/browser.min.js"></script>
	<script src="/js.1/breakpoints.min.js"></script>
	<script src="/js.1/util.js"></script>
	<script src="/js.1/main.js"></script>
	<script src="/bower_components/air-datepicker/dist/js/datepicker.min.js"></script>
	<script src="/bower_components/air-datepicker/dist/js/i18n/datepicker.en.js"></script>
	<script src="/js/app.js"></script>
</body>

</html>