<!-- Main -->
<article id="main">
    <header>
        <h2>Booking</h2>
    </header>
</article>

<section class="wrapper style5">
    <div class="inner">

        <section>
            <div class="row">
                <div class="col-4 col-12-large">
                    <h2>Paris</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos temporibus quaerat nulla sit, soluta aliquid
                        quod magnam laudantium voluptatibus iste autem odit nam, fugiat laborum quasi repellat deleniti esse.
                        Repellat? Dignissimos quod autem perferendis at? Sunt nisi autem laboriosam consectetur voluptatibus
                        ipsum sed animi illo optio quae! Commodi error aliquid aspernatur veniam velit?
                    </p>
                    <section>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button primary" id="submitBtnThrifty11">Submit</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-4 col-12-large">
                    <h2>Japan</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos temporibus quaerat nulla sit, soluta aliquid
                        quod magnam laudantium voluptatibus iste autem odit nam, fugiat laborum quasi repellat deleniti esse.
                        Repellat? Dignissimos quod autem perferendis at? Sunt nisi autem laboriosam consectetur voluptatibus
                        ipsum sed animi illo optio quae! Commodi error aliquid aspernatur veniam velit?
                    </p>
                    <section>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button primary" id="submitBtnThrifty12">Submit</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-4 col-12-large">
                    <h2>Country</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos temporibus quaerat nulla sit, soluta aliquid
                        quod magnam laudantium voluptatibus iste autem odit nam, fugiat laborum quasi repellat deleniti esse.
                        Repellat? Dignissimos quod autem perferendis at? Sunt nisi autem laboriosam consectetur voluptatibus
                        ipsum sed animi illo optio quae! Commodi error aliquid aspernatur veniam velit?
                    </p>
                    <section>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button primary" id="submitBtnThrifty13">Submit</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="row">
                <section>
                    <h4>Don't Like Our Choices? Create Your Own!</h4>
                    <br>
                    <ul class="actions">
                        <li>
                            <a href="/packages/custom-package" class="button primary" id="thriftyCustomSubmitBtn1">Customize</a>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
    </div>
</section>