<article id="main">
    <header>
        <h2>Custom Package</h2>
    </header>
</article>

<section class="wrapper style5">
    <div class="inner">
        <form method="POST" action="/booking/custom-package/create">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-small">
                    <select name="location" id="demo-category">
                        <option value="">- Location -</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Spain">Spain</option>
                        <option value="Scotland">Scotland</option>
                        <option value="Canada">Canada</option>
                        <option value="France">France</option>
                        <option value="Japan">Japan</option>
                        <option value="Germany">Germany</option>
                        <option value="Canada">Canada</option>
                        <option value="New York">New York</option>
                    </select>
                </div>
                <div class="col-6 col-12-small">
                    <select name="flight" id="demo-category">
                        <option value="">- Preferred Flight Class -</option>
                        <option value="First Class">First Class</option>
                        <option value="Business Class">Business Class</option>
                        <option value="Premium Economy">Premium Economy</option>
                        <option value="Economy">Economy</option>
                    </select>
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type='text' name="dateLeaving" id="date-leaving" placeholder="Date Leaving" class='datepicker-here' data-language='en'
                    />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type='text' name="dateReturning" id="date-returning" placeholder="Date Returning" class='datepicker-here' data-language='en'
                    />
                </div>
                <div class="col-4 col-12-small">
                    <select name="hotel" id="demo-category">
                        <option value="">- Hotel -</option>
                        <option value="5 Star">5 Star</option>
                        <option value="4 Star">4 Star</option>
                        <option value="3 Star">3 Star</option>
                        <option value="2 Star">2 Star</option>
                        <option value="1 Star">1 Star</option>
                    </select>
                </div>
                <div class="col-4 col-12-small">
                    <select name="carRental" id="demo-category">
                        <option value="">- Car Rental Companies -</option>
                        <option value="Enterprise Car Rental">Enterprise Car Rental </option>
                        <option value="Hertz">Hertz</option>
                        <option value="Sixt Rent A Car">Sixt Rent A Car</option>
                        <option value="National Car Rental">National Car Rental</option>
                        <option value="Alamo Rent A Car">Alamo Rent A Car</option>
                    </select>
                </div>
                <div class="col-4 col-12-small">
                    <select name="foodCredit" id="demo-category">
                        <option value="">- Food Credit -</option>
                        <option value="1">200</option>
                        <option value="1">150</option>
                        <option value="1">100</option>
                        <option value="1">50</option>
                        <option value="1">10</option>
                        <option value="1">0</option>
                    </select>
                </div>
                <div class="col-12">
                    <textarea name="activities" id="demo-message" placeholder="Please list any activities you wish to wish to do while on your trip!"
                        rows="6"></textarea>
                </div>
                <div class="col-12">
                    <ul class="actions" style="display: flex;">
                        <li>
                            <input type="submit" value="Sign Up" class="primary" />
                        </li>
                        <li>
                            <input type="reset" value="Reset" />
                        </li>
                    </ul>
                </div>
            </div>
        </form>

    </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>