<article id="main">
    <header>
        <h2>Custom Package</h2>
    </header>
</article>

<section class="wrapper style5">
    <div class="inner">
        <form method="POST" action="/packages/custom-package/create">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-small">
                    <select name="location" id="demo-category">
                        <option value="">- Location -</option>
                        <option value="1">Bangkok</option>
                        <option value="1">London</option>
                        <option value="1">Paris</option>
                        <option value="1">Dubai</option>
                    </select>
                </div>
                <div class="col-6 col-12-small">
                    <select name="flight" id="demo-category">
                        <option value="">- Preferred Airline -</option>
                        <option value="1">Singapore Airlines</option>
                        <option value="1">Qatar Airlines</option>
                        <option value="1">All Nipon Airways</option>
                        <option value="1">Emirates</option>
                    </select>
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type='text' name="dateLeaving" id="date-leaving" placeholder="Date Leaving" class='datepicker-here' data-language='en'
                    />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type='text' name="dateReturning" id="date-returning" placeholder="Date Returning" class='datepicker-here' data-language='en'
                    />
                </div>
                <div class="col-4 col-12-small">
                    <select name="hotel" id="demo-category">
                        <option value="">- Hotel -</option>
                        <option value="1">Emirates Palace</option>
                        <option value="1">Mardan Palace Hotel</option>
                        <option value="1">Westin Excelsior</option>
                        <option value="1">Burj Al Arab Hotel</option>
                    </select>
                </div>
                <div class="col-4 col-12-small">
                    <select name="carRental" id="demo-category">
                        <option value="">- Car Rental Companies -</option>
                        <option value="1">Enterprise Car Rental </option>
                        <option value="1">Hertz</option>
                        <option value="1">Thrifty</option>
                        <option value="1">Avis</option>
                    </select>
                </div>
                <div class="col-4 col-12-small">
                    <select name="foodCredit" id="demo-category">
                        <option value="">- Food Credit -</option>
                        <option value="1">100</option>
                        <option value="1">50</option>
                        <option value="1">10</option>
                        <option value="1">0</option>
                    </select>
                </div>
                <div class="col-12">
                    <textarea name="activities" id="demo-message" placeholder="Please list any activities you wish to wish to do while on your trip!"
                        rows="6"></textarea>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li>
                            <input type="submit" value="Sign Up" class="primary" />
                        </li>
                        <li>
                            <input type="reset" value="Reset" />
                        </li>
                    </ul>
                </div>
            </div>
        </form>

    </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>