<article id="main">
    <header>
        <h2>Login!</h2>
        
    </header>
</article>

<section class="wrapper style5">
    <div class="inner">
        <form method="POST" action="/login/">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="password" name="password" id="password" value="" placeholder="Password" />
                </div>
                <div class="col-12">
                    <ul class="actions" style="display: flex;">
                        <li>
                            <input type="submit" value="Log In" class="primary" />
                        </li>
                        <li>
                            <input type="reset" value="Reset" />
                        </li>
                    </ul>
                </div>
            </div>
        </form>

    </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>