<!-- Main -->
<article id="main">
    <header>
        <h2>Package Options</h2>
    </header>
</article>
<section class="tiles">
    <article class="style1">
        <span class="image">
            <img src="/images/pic04.jpg" alt="" style="width:400px;height:300px;" />
        </span>
        <a href="/booking/thrifty">
            <h2>Thrifty</h2>
            <div class="content">
                <p>Our Thrifty package is for our more budget mindful wanders, who are looking for adventure. </p>
            </div>
        </a>
    </article>
    <article class="style2">
        <span class="image">
            <img src="/images/pic05.jpg" alt="" style="width:400px;height:300px;"/>
        </span>
        <a href="/booking/comfort">
            <h2>Comfort</h2>
            <div class="content">
                <p>Our Comfort package is for our flexible travelers who look to experience what wander has to offer.</p>
            </div>
        </a>
    </article>
    <article class="style3">
        <span class="image">
            <img src="/images/pic06.jpg" alt="" style="width:400px;height:300px;"/>
        </span>
        <a href="/booking/bliss">
            <h2>Bliss</h2>
            <div class="content">
                <p>Our Bliss package provides true luxury, no expense is spared to provide an unforgettable experience.</p>
            </div>
        </a>
    </article>
</section>