<!-- Main -->
<article id="main">
    <header>
        <h2>Thank you for booking!</h2>
    </header>
</article>

<section class="wrapper style5">
    <div class="inner">

        <h3>You're going to love your trip!</h3>
        <p>One of our Wander agents will get in contact with you in one business day, to confirm. If you have additional questions
            feel free to reach out.</p>
    </div>

</section>